[package]
name = "rust-life"
version = "0.1.0"
edition = "2024"

[dependencies]
clearscreen = "4.0.2"
rand = "0.9.2"

[profile.release]
opt-level = 3
strip = true
lto = true
codegen-units = 1
panic = "abort"

[profile.dev]
debug = true
overflow-checks = true